<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<%= link_to "Home", class: "navbar-brand" %>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
				<li><%= link_to current_user.email, edit_user_registration_path %></li>
				<% else %>
				<li><%= link_to "Log in", new_user_session_path %></li>
				<%end%>
				<li><%= link_to "Log out", destroy_user_session_path, method: 'delete'%></li>
				<li><%= link_to "Product",  products_path %></li>
				<li><%= link_to "Categories", categories_path %></li>
			</ul>
		</div>
	</div>
</nav>
