<div class="row" style = "margin-top: 124px;">
	<h1><%= t".Your Check Out"%></h1>
	<table class="table table-striped" style="">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col"><%= t".Date time"%></th>
				<th scope="col"><%= t".Total Detail"%></th>
				<th scope="col"><%= t".Status"%></th>
				<th scope="col"><%= t".Detail"%></th>
			</tr>
		</thead>
		<tbody>
		<% @cart.each.with_index(1) do |cart, index| %>
			<tr>
				<td><%= index %></td>
				<td><%= cart.updated_at%></td>
				<td><%=number_to_currency(cart.totalprice)%></td>
				<td><%= cart.status%></td>
				<td><%= link_to t(".Detail"),detail_cart_path(cart)%></td> 
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
