<%= render "shared/header" %>
<div class="container">
  <div class="row">
    <h1 style="margin-top: 83px;">Categories</h1>
    <%= link_to 'New Product', new_category_path, class: "btn btn-primary"%>
    <%= render "shared/search" %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @category.each.with_index(1) do |category, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= category.name %></td>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
          <td><%= link_to 'Delete', category_path(category),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div style="float:right;margin-right: 67px;"><%= paginate @category %></div>
</div>
</div>
<%= render "shared/footer" %>
