<div class="row" style = "margin-top:80px">
    <h1><%= t ".Your Items" %></h1>
    <%= link_to t(".add item for sale"), new_product_path, class: "btn btn-primary"%>
      <%= search_form_for(@q,class:"navbar-form navbar-right") do |f|    %> 
        <div class="form-group">
          <%= f.search_field :name_or_price_or_category_name_cont, placeholder: t(".search"), class: 'form-control' %>
        </div>
        <%= f.submit t(".search"), class: 'btn btn-default' %> 
       <% end %> 
    <table class="table table-bordered table-hover" style="text-align:center">
      <br>
      <tr>
        <th>#</th>
        <th><%= sort_link(@q, :category_name, t(".category"))%></th>
        <th><%= sort_link(@q, :name, t(".name"))%></th>
        <th><%= t ".avatar"%></th>
        <th><%= sort_link(@q, :price, t(".price"))%></th>
        <th><%= t ".show"%></th>
        <th><%= t ".edit"%></th>
        <th><%= t ".delete"%></th>
      </tr>
      <% @products.each.with_index(1) do |products, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= products.category.name%></td>
        <td><%= products.name %></td>
        <td><%= image_tag products.image_link_url, width:"120px", height:"120px"%></td>
        <td><%= number_to_currency(products.price) %></td> 
        <td>
         <i class="fa fa fa-eye fa-1x"></i> <%= link_to t(".show"),  product_path(products)%>
        </td>
        <td>
          <i class="fa fa-pencil"></i> <%= link_to t(".edit"),  edit_product_path(products) %>
        </td>
        <td>
           <i class="fa fa-trash-o"></i> <%= link_to t(".delete"), product_path(products),
           method: :delete,
           data: { confirm: 'Are you sure?' } %></span>
        </td>
      </tr>
      <% end %>
    </table>
    <div style="float:right;margin-right: 67px;"><%= paginate @products %></div>
  </div>
</div>
