<!DOCTYPE html>
<html>
	<head>
		<title>TrungApp</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<% if user_signed_in?%>
			<%= render "shared/header" %>
		<% end %>
		<div class ="container container-index">
  	<%= yield %>
		</div>
		<% if user_signed_in?%>
			<%= render "shared/footer" %>
		<% end %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
